*{
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: white;
}
header{
    background-color: white;
    color: black;
    text-align: center;
    overflow: auto;
}
header img{
    float: left;
}
header h1{
    text-shadow: 2px 2px 2px red;
}
.clr{clear: both;}

nav{background-color: black;}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navli{
    float: right;
    margin: 2px;
}   
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
nav a{
    display: block;
    color: white;  
}
.active{
    background-color: red;
}
nav a:hover:not(.active){
    background-color: darkslateblue;
}

 main .content {
           float: left;
           width: 33.33%;
     padding: 5px;
       }  
       #container::after{
           content: "";
           clear: both;
           display: table;
       }
main h2{
    color: firebrick
}
.flex-container{
    display: flex;
    height: 200px;
    background-color: whitesmoke;
    border: 2px solid black;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    overflow: auto;
}
.flex-container>div{
    height:80px; ;
    width: 100px;
    
}
.flex-container p{
    font-family: cursive;
}
.flex-container a{
    display: block;
}
.flex-container p{
    text-align: center;
}